.login {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
