.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.logout-btn {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5px;
}
